<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- 当用户名已存在，账户或密码为空，密码错误等，直接重新转跳到错误重新登陆界面 -->
  <%- errData %>
  <h2>请重新选择</h2>
  <a href="./index.html">首页</a>
  <a href="./login.html">登陆</a>
  <a href="./register.html">注册</a>
</body>
</html>